@model ShowingModel

@{
    ViewData["Title"] = "Update Show";
}

<!DOCTYPE html>
<style>
    body {
        background-image: linear-gradient(tan, white);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .column {
        position: sticky;
        flex: 33.33%;
        padding: 5px;
    }

    .central {
        margin: auto;
        width: 50%;
        text-align: center;
    }

    .btn-edit {
        width: 30%;
        display: block;
        position: sticky;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        color: white;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }

    .text {
        font-size: 20px;
    }

</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form asp-controller="AdminPanel" asp-action="UpdateShow" method="post">
        <div class="central" style="display: flex; flex-direction: column; gap: 10px;">
            <h1 class="text-center">Edytuj dane seansu</h1>

            <div>
                <input asp-for="Showing_Id" type="hidden" />
            </div>

            <div>
                <label asp-for="CinemaHall_Id" class="form-label" style="font-size: 20px;">Hall-Id:</label>
                <input asp-for="CinemaHall_Id" type="number" />
            </div>
            <span asp-validation-for="CinemaHall_Id" class="text-danger"></span>

            <div>
                <label asp-for="Film_Id" class="form-label" style="font-size: 20px;">Film-Id:</label>
                <input asp-for="Film_Id" type="number" />
            </div>
            <span asp-validation-for="Film_Id" class="text-danger"></span>

            <div>
                <label asp-for="DateTime" class="form-label" style="font-size: 20px;">Data:</label>
                <input asp-for="DateTime" type="datetime-local" />
            </div>
            <span asp-validation-for="DateTime" class="text-danger"></span>

            <div class="row">
                <div class="column">
                    <button class="btn-edit btn-dark btn-outline-secondary btn-lg" type="submit"><b>Edytuj</b></button>
                </div>
            </div>

            <div class="central">
                @if (TempData["checkFilm"] != null)
                {
                    <br />
                    <div class="alert-danger">@TempData["checkFilm"]</div>
                }
                @if (TempData["checkHall"] != null)
                {
                    <br />
                    <div class="alert-danger">@TempData["checkHall"]</div>
                }
            </div>

        </div>
    </form>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
