USE [Cinema]
GO
/****** Object:  Table [dbo].[CinemaHall]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaHall](
	[CinemaHall_Id] [int] IDENTITY(1,1) NOT NULL,
	[HallNumber] [nchar](10) NOT NULL,
	[Temperature] [float] NULL,
	[Lightening] [nchar](20) NULL,
 CONSTRAINT [PK_CinemaHall] PRIMARY KEY CLUSTERED 
(
	[CinemaHall_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Film_Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Age_category] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Cast] [nvarchar](500) NOT NULL,
	[Director] [nvarchar](200) NOT NULL,
	[Production] [nvarchar](50) NOT NULL,
	[Release_date] [date] NOT NULL,
	[MainPicture] [nvarchar](50) NULL,
	[BackgroundPicture] [nvarchar](50) NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Film_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logging]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logging](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[IsAdmin] [bit] NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_Logging] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[Seats_Id] [int] IDENTITY(1,1) NOT NULL,
	[CinemaHall_Id] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[Seat] [int] NOT NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[Seats_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showing]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showing](
	[Showing_Id] [int] IDENTITY(1,1) NOT NULL,
	[CinemaHall_Id] [int] NOT NULL,
	[Film_Id] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Showing] PRIMARY KEY CLUSTERED 
(
	[Showing_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 29.09.2025 17:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Ticket_Id] [bigint] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Seats_Id] [int] NOT NULL,
	[Showing_Id] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Ticket_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_CinemaHall] FOREIGN KEY([CinemaHall_Id])
REFERENCES [dbo].[CinemaHall] ([CinemaHall_Id])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_CinemaHall]
GO
ALTER TABLE [dbo].[Showing]  WITH CHECK ADD  CONSTRAINT [FK_Showing_CinemaHall] FOREIGN KEY([CinemaHall_Id])
REFERENCES [dbo].[CinemaHall] ([CinemaHall_Id])
GO
ALTER TABLE [dbo].[Showing] CHECK CONSTRAINT [FK_Showing_CinemaHall]
GO
ALTER TABLE [dbo].[Showing]  WITH CHECK ADD  CONSTRAINT [FK_Showing_Films] FOREIGN KEY([Film_Id])
REFERENCES [dbo].[Films] ([Film_Id])
GO
ALTER TABLE [dbo].[Showing] CHECK CONSTRAINT [FK_Showing_Films]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Logging] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Logging] ([User_Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Logging]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Seats] FOREIGN KEY([Seats_Id])
REFERENCES [dbo].[Seats] ([Seats_Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Seats]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Showing] FOREIGN KEY([Showing_Id])
REFERENCES [dbo].[Showing] ([Showing_Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Showing]
GO
