@{
    ViewData["Title"] = "Main page";
}
<style>
    body {
        background-image: linear-gradient(tan, white);
    }
</style>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome in our cinema</h1>
        <p>We are glad that you have chosen us.</p>
    </div>
</body>


