@model Cinema.Models.LoggingModel

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<style>
    body {
        background-image: linear-gradient(tan, white);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .column {
        position: sticky;
        flex: 33.33%;
        padding: 5px;
    }

    .central {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 550px;
        overflow: hidden;
        cursor: pointer;
        opacity: 1;
    }

    .btn {
        width: 30%;
        display: block;
        position: sticky;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        cursor: pointer;
        color: white;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }

        .btn:hover {
            opacity: 0.9;
        }

    .image:hover {
        opacity: 0.9;
    }

</style>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form asp-controller="Login" asp-action="Register" method="post">
        @Html.AntiForgeryToken()
        <div class="central" style="display: flex; flex-direction: column; gap: 10px;">

            <h1 class="text-center">Strona rejestracji</h1>

            <div>
                <label asp-for="Login" class="form-label" style="font-size: 20px;">Login:</label>
                <input asp-for="Login" type="text" />

            </div>
            <div class="central text-danger">
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password" class="form-label" style="font-size: 20px;">Hasło:</label>
                <input asp-for="Password" type="password" />

            </div>
            <div class="central text-danger">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Email" class="form-label" style="font-size: 20px;">Email:</label>
                <input asp-for="Email" type="email" />

            </div>
            <div class="central text-danger">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="column">
                    <button class="btn btn-dark btn-outline-secondary btn-lg" type="submit">Zarejestruj</button>
                </div>
            </div>

        </div>
    </form>
</body>
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}